@font-face {
    font-family: 'Futura PT medium';
    src: url(../font/FuturaPT-Medium.ttf);
}

@font-face {
    font-family: 'Futura PT bold';
    src: url(../font/FuturaPT-Bold.ttf);
}

@font-face {
    font-family: 'Futura PT book';
    src: url(../font/FuturaPT-Book.ttf);
}

@font-face {
    font-family: 'Futura PT light';
    src: url(../font/FuturaPT-Light.ttf);
}

* {
    color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Убираем линии обводки некоторых браузеров*/
:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

/*задаем блочными теги Html5*/
nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 30px;
    font-size: 20px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
}

/*задаем наследование шрифтов*/
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}